
<ul class="cards">
  {{#each herbs}}
  <li class="card">
  <img class="img" src="images/{{name}}.jpg" alt="{{name}}"><br>
    <div class="herbs">
      <span class="title">{{name}}</span>
      <p class="data">Height: {{height}}</p>
      <br>
      <a href="/info/{{id}}">more info</a><br>
      <a href="/herb/{{id}}/edit">edit herb</a><br>
      <a href="/herb/{{id}}/delete">delete herb</a>
    </div>
  </li>
  <br>
  {{/each}}
</ul>