<ul class="cards">
  <li class="card">
  <img class="img" src="../images/{{name}}.jpg" alt="{{name}}"><br>
    <div class="herbs">
      <span class="title">{{name}}</span>
      <p class="data">Height: {{height}}</p>
      <br>
      <a href="/herb/{{id}}/delete">delete herb</a><br>
      <a href="/">Home</a>
    </div>
  </li>
  <br>
</ul>
