
<ul class="cards">
  <li class="card">
  <img class="img" src="../images/{{name}}.jpg" alt="{{name}}"><br>
    <div class="herbs">
      <span class="title">{{name}}</span>
      <p class="data">Height: {{height}}</p>
      <p class="data">Germination dates: {{germinationDates}}</p>
      <p class="data">Watering: {{watering}}</p>
      <p class="data">Light: {{light}}</p>
      <br>
      <a href="/herb/{{id}}/delete">delete herb</a><br>
    </div>
  </li>
  <br>
</ul>
